@mixin button_blau {
    border: 0.1875rem solid $uni-blau;
    color: #fff;
    background: $uni-blau;
}

@mixin button_blau_hover {
    border: 0.1875rem solid $uni-blau-hell;
    color: $uni-blau;
    background: #fff;
}

a:focus {
    outline-width: 0;
    border-left: none;
    border-right: none;
    border-top: none;
}

// Item browse page:
.browse {
    .hentry {
        h1, h2, h3, h4 {
            color: $uni-blau;
    
            a {
                color: $uni-blau;
            }
        }
    }

    // Alternating row colors:
    .records > div.list:nth-of-type(odd) {
        background-color: #f6f6f6;
    }
  
    .records > div.list:nth-of-type(even) {
        background-color: white;
    }
  
    // List specific styles:
    // .item-meta.hentry.list { //TODO: reverse comment
        .item-meta-content {
            display: flex;
        }
    
        .item-img {
            margin-right: 3%;
            max-width: 120px;
    
            img {
                max-width: 100%;
            }
        }
    // }
}

#content {
    h1, h2, h3, h4 {
        color: $uni-blau;
    }
}

.pagination-nav ul.pagination li.page-input {
    form label {
        display: inline-flex;

        input[type=text] {
            margin-left: 7px;
            margin-right: 7px;
            font-size: 16px;
            height: auto;
            line-height: normal;
            position: relative;
            top: -4px;
            width: 50px;
        }
    }
}

a.cover,
#header-logo a,
.logos a
{
    border-bottom:none
}

#header-text {
    text-transform:none;
    font-size:11px
}

/* Unterstreichungen bei a ausschalten */
.item-meta .item-img, 
li.pagination_next,
.jcarousel-wrapper {
    a {
        border:none
    }
}
header nav .navigation {
    border: none;
}

header .uma-header-right nav .navigation li a {
    border: 0.1875rem solid transparent;
}

.pagination {
    /* Uni-Button simulieren */
    li.pagination_previous,
    li.pagination_next {
        position: relative;
        top: -3px;

        a {
            @include button_blau;

            &:hover {
                @include button_blau_hover;
            }
        }
    }
}


a:hover {
    text-decoration: none;
}

// Navigation styling
header nav .navigation li {
    // Highlight active navigation in Uni style:
    &.active a {
        border-bottom: 0.1875rem solid $uni-blau-hell;
    }

    a {
        border: 1px solid transparent;
    
        &:hover {
            text-decoration: none;
            border-bottom: 0.1875rem solid $uni-blau;
        }
    }
}

/* jcarousel left / right */
.jcarousel-wrapper {
    a {
        &.jcarousel-control-prev,
        &.jcarousel-control-next {
            //border: 0.1875rem solid $uni-blau;
            //color: #fff;
            //background: $uni-blau;
            @include button_blau;
            font: 24px / 22px Arial, sans-serif;

            &:focus,
            &:hover {
                //color: $uni-blau;
                //background: #fff;
                //border: 0.1875rem solid $uni-blau-hell;
                @include button_blau_hover;
            }
        }
    }
    .jcarousel-pagination {
        a {
            &.active {
                background: $uni-blau;
            }
        }
    }
}

#scroll-to-top {
    &:hover {
        background: $uni-blau-hell;
    }
}


.uma-header-right {
    position:relative;
    text-align:right;
    margin-right:0;
    margin-left:auto
}

.element h3 {
    font-size:16px;
    font-weight:700
}

.welcome {
    text-align:center;
    margin-top:100px;
    margin-bottom:100px
}

.pagination li, .pagination li:first-child, .pagination li {
    float:none;
    display:inline-block
}

.secondary-nav ul {
    margin-bottom: 15px;
}

.browse .hentry,
#collection-items .hentry {
    h2 {
        a {
            font-weight: bold;
        }
    }
}

#content h2.AusstellungsThema.uma-primo-bar {
    position: relative;
    top: -40px;
    width: 87%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 4px;
    color: #fff;
}

#home {
    #search-form {
        background-color: $uni-blau;
        border-radius: 15px;
        padding: 8px 8px 8px 8px;
    
        input, button {
            margin-bottom: 0rem;
            &:hover {
                // color: $uni-blau;
                background: #fff;
                // border: 0.1875rem solid $uni-blau-hell;
            }
        }
    }

    #submitt-search {
        border: none;
        padding-right: 10px;
        margin-left: 10px;
        margin-bottom: 0px;
        
        &::after {
            width: inherit;
        }
    }

    // Hide line on top of h1 on home page:
    #home #wrap #content h1:before {
        display: none;
    }
}

// Header search form:
#search-container {
    right: 15px;

    #search-form {
        box-shadow: none;

        &.open {
            width: 400px;
            padding: 0;
            box-shadow: none;
            border-bottom: none;

            input[type=text] {
                border: 1px solid #ccc;
                &::placeholder {
                    color: #ccc;
                }
            }
            & + button.search-toggle {
                border: none;
            }
        }
        &.closed {
            & + .search-toggle { 
                //border: 0.1875rem solid $uni-blau;
                //color: #fff;
                //background: $uni-blau;
                @include button_blau;
                border-radius: 0.5rem;

                &:hover {
                    //color: $uni-blau;
                    //background: #fff;
                    //border: 0.1875rem solid $uni-blau-hell;
                    @include button_blau_hover;
                }
            }
        }
    }
    button {
        &#submit_search {
            //border: 0.1875rem solid $uni-blau;
            //color: #fff;
            //background: $uni-blau;
            @include button_blau;

            &:hover {
                //color: $uni-blau;
                //background: #fff;
                //border: 0.1875rem solid $uni-blau-hell;
                @include button_blau_hover;
            }

            &:after {
                top: 4px;
                left: -3px;
            }

        }
        &.search-toggle {
            border: 0.1875rem solid $uni-blau;
        }
    }
}

// Advanced search:
.advanced-search #advanced-search-form {
    button {
        @include button_blau;
        border-radius: 4px; //TODO: why is this needed?
        padding: 4px;

        &:hover {
            @include button_blau_hover;
            border-radius: 4px;
            padding: 4px;
        }
    }

    input#submit_search_advanced[type=submit] {
        font-weight: normal;
    }
    
    // Erweiterte Suche Überschrift "Feld löschen" ausblenden // TODO: sollte konfigurierbar sein
    #search-narrow-by-fields-remove-field {
        display: none;
    }
    #search-narrow-by-fields-label.label {
        color: #232e58;
        background: transparent;
    }
    #submit_search_advanced {
        font-size: inherit;
    }
}

#no-results {
    margin-top: 80px;
    margin-bottom: 80px;
}

.collection.hentry,
.item-meta {
    text-align: center;
}
.facet-checkbox {
    input[type=checkbox] {
        vertical-align: inherit;
    }
}

//Footer:
footer {
    .logos {
        text-align: right;
        right: 0;
        position: absolute;
    
        .logo1, .logo2 {
            display: inline-block;
        }
       .logo2 {
           .hosted {
               display: block;
               text-align: left;
           }
       }
    
        .ub-logo {
            height: 50px;
        }
        .uni-logo {
            height: 50px;
            margin-right: 20px;
        }
    }
}

#collection.element,
.element {
    h3 {
        padding-top: 3px;
    }
}

.element-set .element h3{
    overflow-wrap: break-word;
    word-break: break-word;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
@media screen and (min-width: 90.0625em) {
    #site-title.uma-header-left {
        padding-bottom: 44px;
    }
}

// Style Collection title in item overview:
#item-filters ul {
    text-align: inherit;
    margin: inherit;

    li {
        border: none;
        font-size: medium;
        font-style: italic;
        margin-left: 0px;
        margin-bottom: 15px;
        padding-left: 0px;
    }
}

/* indent lists */
#content ul, #content ol {
    margin-left: 2.5rem;
}

/* Fix nav-menu on mobile devices */
@media screen and (max-width: 640px) {
    .align-bottom {
        display: flex;
        flex-direction: column;
    }

    div#site-title {
        order: unset;
    }

    #top-nav ul.nav-menu {
        margin: unset;
    }
}

// Search results page:
.search {
    #search-filters {
    display: none;
    }

    #search-results {
        border: none;

        thead,
        tbody .item td:first-child {
            display: none;
        }

        td, th {
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 10px;
            border-style: none;
            line-height: 1.25;

            a {
                border-bottom: none;
            }

            a:hover {
                border-bottom: 0.1875rem solid $uni-blau-hell;
            }
        }
    }
}

// Plugin Facets: horizontal styling: (item browse and collection views)
.facets-layout-horizontal {
    margin-top: unset;

    #facets-body {
        border-color: #232e58;
        border-width: 2px 2px 2px 2px;
        border-style: solid;
    }

    button#facets-title {
        color: unset;
        width: unset;
    }
}
