.svg-arrow-left-dims {
    width: 24px;
    height: 28px;
}

.svg-arrow-left-big-dims {
    width: 48px;
    height: 56px;
}

.svg-arrow-left-big2-dims {
    width: 48px;
    height: 56px;
}

.svg-arrow-right-dims {
    width: 24px;
    height: 28px;
}

.svg-arrow-right-big-dims {
    width: 48px;
    height: 56px;
}

.svg-arrow-right-big2-dims {
    width: 48px;
    height: 56px;
}

.svg-arrow-rounded-left-dims {
    width: 64px;
    height: 64px;
}

.svg-arrow-rounded-right-dims {
    width: 64px;
    height: 64px;
}

.svg-arrow-rounded-up-dims {
    width: 64px;
    height: 64px;
}

.svg-economic-sus-de-dims {
    width: 370px;
    height: 370px;
}

.svg-economic-sus-en-dims {
    width: 370px;
    height: 370px;
}

.svg-environmental-sus-de-dims {
    width: 370px;
    height: 370px;
}

.svg-environmental-sus-en-dims {
    width: 370px;
    height: 370px;
}

.svg-event-bg-dims {
    width: 25px;
    height: 90px;
}

.svg-feed-dims {
    width: 16px;
    height: 16px;
}

.svg-home-dims {
    width: 16px;
    height: 16px;
}

.svg-icon-accessibility-dims {
    width: 24px;
    height: 24px;
}

.svg-icon-application-dims {
    width: 64px;
    height: 64px;
}

.svg-icon-arrow-dims {
    width: 340.2px;
    height: 340.2px;
}

.svg-icon-arrow2-dims {
    width: 340.2px;
    height: 340.2px;
}

.svg-icon-arrow2-back-dims {
    width: 340.2px;
    height: 340.2px;
}

.svg-icon-at-dims {
    width: 30px;
    height: 30px;
}

.svg-icon-book-dims {
    width: 29px;
    height: 27px;
}

.svg-icon-bulb-dims {
    width: 19.91px;
    height: 29.03px;
}

.svg-icon-burger-dims {
    width: 30px;
    height: 30px;
}

.svg-icon-burger-bold-dims {
    width: 30px;
    height: 30px;
}

.svg-icon-cal-dims {
    width: 29px;
    height: 28px;
}

.svg-icon-candle-dims {
    width: 60px;
    height: 60px;
}

.svg-icon-clock-dims {
    width: 64px;
    height: 64px;
}

.svg-icon-coins-dims {
    width: 64px;
    height: 64px;
}

.svg-icon-compass-dims {
    width: 29px;
    height: 29px;
}

.svg-icon-dish-dims {
    width: 30px;
    height: 20px;
}

.svg-icon-download-dims {
    width: 64px;
    height: 64px;
}

.svg-icon-faculty-bluegrey-dims {
    width: 64px;
    height: 64px;
}

.svg-icon-faculty-default-dims {
    width: 64px;
    height: 64px;
}

.svg-icon-faculty-green-dims {
    width: 64px;
    height: 64px;
}

.svg-icon-faculty-orange-dims {
    width: 64px;
    height: 64px;
}

.svg-icon-faculty-petrol-dims {
    width: 64px;
    height: 64px;
}

.svg-icon-faculty-red-dims {
    width: 64px;
    height: 64px;
}

.svg-icon-file-download-dims {
    width: 22px;
    height: 30px;
}

.svg-icon-file-pdf-dims {
    width: 22px;
    height: 30px;
}

.svg-icon-file-txt-dims {
    width: 22px;
    height: 30px;
}

.svg-icon-file-video-dims {
    width: 22px;
    height: 30px;
}

.svg-icon-file-zip-dims {
    width: 22px;
    height: 30px;
}

.svg-icon-finger-dims {
    width: 64px;
    height: 64px;
}

.svg-icon-gallery-dims {
    width: 30px;
    height: 29px;
}

.svg-icon-globe-dims {
    width: 30px;
    height: 30px;
}

.svg-icon-hat-dims {
    width: 30px;
    height: 16px;
}

.svg-icon-hat-square-dims {
    width: 64px;
    height: 64px;
}

.svg-icon-info-dims {
    width: 64px;
    height: 64px;
}

.svg-icon-info-no-circle-dims {
    width: 64px;
    height: 64px;
}

.svg-icon-link-external-dims {
    width: 50px;
    height: 50px;
}

.svg-icon-mail-dims {
    width: 30px;
    height: 28.01px;
}

.svg-icon-mail2-dims {
    width: 64px;
    height: 64px;
}

.svg-icon-map-dims {
    width: 17px;
    height: 30px;
}

.svg-icon-mobile-dims {
    width: 18px;
    height: 30px;
}

.svg-icon-money-dims {
    width: 30px;
    height: 25px;
}

.svg-icon-mouse-dims {
    width: 64px;
    height: 64px;
}

.svg-icon-person-dims {
    width: 513.32px;
    height: 513.32px;
}

.svg-icon-person-female-dims {
    width: 30px;
    height: 30px;
}

.svg-icon-person-male-dims {
    width: 30px;
    height: 30px;
}

.svg-icon-reminder-dims {
    width: 64px;
    height: 64px;
}

.svg-icon-rocket-dims {
    width: 30px;
    height: 30px;
}

.svg-icon-search-dims {
    width: 30px;
    height: 30px;
}

.svg-icon-search-small-dims {
    width: 24px;
    height: 24px;
}

.svg-icon-social-academia-dims {
    width: 24px;
    height: 24px;
}

.svg-icon-social-bluesky-dims {
    width: 24px;
    height: 24px;
}

.svg-icon-social-facebook-dims {
    width: 13px;
    height: 24px;
}

.svg-icon-social-instagram-dims {
    width: 24px;
    height: 24px;
}

.svg-icon-social-linkedin-dims {
    width: 24px;
    height: 24px;
}

.svg-icon-social-mastodon-dims {
    width: 26px;
    height: 24px;
}

.svg-icon-social-researchgate-dims {
    width: 24px;
    height: 24px;
}

.svg-icon-social-tiktok-dims {
    width: 21.2px;
    height: 24.2px;
}

.svg-icon-social-x-dims {
    width: 33px;
    height: 24px;
}

.svg-icon-social-xing-dims {
    width: 24px;
    height: 24px;
}

.svg-icon-social-youtube-dims {
    width: 24px;
    height: 17.7px;
}

.svg-icon-speechbubble-dims {
    width: 64px;
    height: 64px;
}

.svg-icon-tablet-dims {
    width: 22px;
    height: 30px;
}

.svg-mic-dims {
    width: 16px;
    height: 16px;
}

.svg-pacman-dims {
    width: 16px;
    height: 16px;
}

.svg-podcast-dims {
    width: 16px;
    height: 16px;
}

.svg-sdg01-de-dims {
    width: 566.933px;
    height: 566.933px;
}

.svg-sdg01-en-dims {
    width: 62.63px;
    height: 62.8px;
}

.svg-sdg02-de-dims {
    width: 566.933px;
    height: 566.933px;
}

.svg-sdg02-en-dims {
    width: 61.93px;
    height: 61.93px;
}

.svg-sdg03-de-dims {
    width: 566.933px;
    height: 566.933px;
}

.svg-sdg03-en-dims {
    width: 61.92px;
    height: 61.92px;
}

.svg-sdg04-de-dims {
    width: 566.933px;
    height: 566.933px;
}

.svg-sdg04-en-dims {
    width: 61.93px;
    height: 61.93px;
}

.svg-sdg05-de-dims {
    width: 566.933px;
    height: 566.933px;
}

.svg-sdg05-en-dims {
    width: 61.84px;
    height: 61.84px;
}

.svg-sdg06-de-dims {
    width: 566.933px;
    height: 566.933px;
}

.svg-sdg06-en-dims {
    width: 61.31px;
    height: 61.31px;
}

.svg-sdg07-de-dims {
    width: 566.933px;
    height: 566.933px;
}

.svg-sdg07-en-dims {
    width: 62.02px;
    height: 62.02px;
}

.svg-sdg08-de-dims {
    width: 566.933px;
    height: 566.933px;
}

.svg-sdg08-en-dims {
    width: 62.23px;
    height: 62.23px;
}

.svg-sdg09-de-dims {
    width: 566.933px;
    height: 566.933px;
}

.svg-sdg09-en-dims {
    width: 61.85px;
    height: 61.85px;
}

.svg-sdg10-de-dims {
    width: 566.933px;
    height: 566.933px;
}

.svg-sdg10-en-dims {
    width: 62.15px;
    height: 62.15px;
}

.svg-sdg11-de-dims {
    width: 566.933px;
    height: 566.933px;
}

.svg-sdg11-en-dims {
    width: 62.05px;
    height: 62.05px;
}

.svg-sdg12-de-dims {
    width: 566.933px;
    height: 566.933px;
}

.svg-sdg12-en-dims {
    width: 62.08px;
    height: 62.08px;
}

.svg-sdg13-de-dims {
    width: 566.933px;
    height: 566.933px;
}

.svg-sdg13-en-dims {
    width: 62.11px;
    height: 62.11px;
}

.svg-sdg14-de-dims {
    width: 566.933px;
    height: 566.933px;
}

.svg-sdg14-en-dims {
    width: 62.06px;
    height: 62.06px;
}

.svg-sdg15-de-dims {
    width: 566.933px;
    height: 566.933px;
}

.svg-sdg15-en-dims {
    width: 62.07px;
    height: 62.07px;
}

.svg-sdg16-de-dims {
    width: 566.933px;
    height: 566.933px;
}

.svg-sdg16-en-dims {
    width: 62.06px;
    height: 62.06px;
}

.svg-sdg17-de-dims {
    width: 566.933px;
    height: 566.933px;
}

.svg-sdg17-en-dims {
    width: 62.13px;
    height: 62.13px;
}

.svg-signet-universitaet-mannheim-dims {
    width: 171.11px;
    height: 177px;
}

.svg-signet-universitaet-mannheim-en-dims {
    width: 173.6px;
    height: 177px;
}

.svg-social-sus-de-dims {
    width: 370px;
    height: 370px;
}

.svg-social-sus-en-dims {
    width: 370px;
    height: 370px;
}

